<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div id="login_flash" class="flash-message alert alert-<%= key %>">
      <button id="flash_close" class="close" type="button" tabindex= "-1">
        <small>&times;</small>
      </button>  
      <%= value %>
    </div>
  <% end %>
<% end %>