<% provide(:title, 'Reset Password') %>
<div id="box_reset">
  <div class="container">
  	<div class="span12 box_wrapper">
  	  <div class="span12 box">
  	  	<div>
  	  	  <div class="head">
  	  	  	<h4>Enter your email address below to receive instructions on how to reset your password.</h4>
  	  	  </div>
  	  	  <div class="form">
  	  	  	<%= form_for @user, url: forgot_password_path do |f| %>
  	  	  	  <%= f.text_field :email, placeholder: "Email address" %>
  	  	  	  <%= f.submit "Reset password", class: "btn" %>
  	  	  	<% end %>
  	  	  </div>
  	  	</div>
  	  </div>
  	  <p class="already">Know your password? <%= link_to "Log in", login_path %></p>
  	</div>
  </div>
</div>