<% if @contacts.any? %>
  <div class="div-table">
    <div class="div-table-inner">
      <table id="contacts_table" class="table tablesorter table-bordered">
        <thead>
          <tr>
            <th class="cursor-enable">Name</th>
            <th class="cursor-enable">Company/Org</th>
            <th class="cursor-enable">Email</th>
            <th class="cursor-enable">Phone Number</th> 
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |c| %>
            <% contact = User.find(c) %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.org %></td>  
              <td><%= contact.email %></td>
              <td><%= contact.tel_pref %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
<% end %>