<% provide(:title, 'Contacts') %>
<!-- coming soon -->
<div id="comingsoon" class="comingsoon_page">
  <div class="container">
  	<div class="countdown">
  	  <div class="row">
  	  	<div class="span8 offset2 left">
  	  	  <h1>Thank you for using ContactsUp</h1><br>
  	  	  <p>
  	  	  	We are currently updating some awesome new features.
  	  	  </p>
  	  	  <p>
  	  	  	If you have any questions please contact info@contactsup.com.
  	  	  </p>
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>