<% provide(:title, 'Contacts') %>
<!-- coming soon -->
<div id="comingsoon" class="comingsoon_page">
  <div class="container">
  	<div class="countdown">
  	  <div class="row">
  	  	<div class="span8 offset2 left">
  	  	  <h1>Thank you for your interests to ContactsUp</h1>
  	  	  <p>
  	  	  	Dear friends and customers, we are currently update some new features and will inform you as soon as we get in down.
  	  	  </p>
  	  	  <p>
  	  	  	Thank you very much for your precious ideas and support during our usability tests. If you have any questions please contact jing@contactsup.com.
  	  	  </p>
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>