//@import "bootstrap";

//Layouts



#logo {
  padding-top: 7px;
  height: 28px;
}

//Flash messages

.flash-message {
  position: absolute;
  text-align: center;
  width: 230px;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 0px;
}

#signup_flash {  
  text-align: left;
}

//Form & Table

.signup-login {
  margin-top: 50px;
}

#box_sign .box .form .field_with_errors input[type="text"],
#box_sign .box .form .field_with_errors input[type="password"] {
  border-color:  #D00;
}

.field_with_errors .message{ 
  color: #D00;
  padding-left: 10px;
  text-align: left;
}

.form-horizontal .control-group {
  margin-bottom: 5px;
}

.form-horizontal .control-label {
  text-align: left;
}

#update_title {
  margin-bottom: 20px;
}

.div-table {
  border-radius: 5px;
  background-color: #dddddd;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #cccccc;
}

.div-table-inner {
  font-size: 12px;
  padding-top: 10px;
  max-height: 550px;
  overflow: auto;
}

.div-table thead{
  color: white;
  background-color: #08c;
  font-size: 14px;
}

#contacts_table{
  background-color: white;
}

.cursor-enable:hover {
  color: darkgrey;
}

.cursor-enable{
  cursor: s-resize;
}

.tablesorter-headerDesc {
  cursor: n-resize;
}

//Subav

#subnav {
  margin-bottom: 8px;
}

//Dropdown

.div-dropdown {
  padding:10px;
  padding-bottom: 5px; 
}

#incoming_contacts_dropdown {
  width: 220px;
  max-height: 300px;
  overflow: auto;
}

#profile_dropdown {
  width: 320px;
}

.label-incoming-name {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #08c;
  border-radius: 2px;
}