@import "bootstrap";

//Layouts

body {
  padding-top: 60px;
}

#logo{
  padding-top: 7px;
  height: 28px;
}

//Flash messages

.flash-message {
  position: absolute;
}

#signup_flash {  
  position: absolute;
  border: 2px solid;
  width: 230px;
}

#login_flash {  
  text-align: center;
  border: 2px solid;
  width: 230px;
  height: 30px;
}

//Form

.field_with_errors input {
  border: 1px solid red;
}

//Subav
