@import "bootstrap";

//Layouts

body {
  padding-top: 75px;
}

#logo {
  padding-top: 7px;
  height: 28px;
}

//Flash messages

.flash-message {
  position: absolute;
}

#signup_flash {  
  border: 2px solid;
  width: 230px;
}

#login_flash {  
  text-align: center;
  border: 2px solid;
  width: 230px;
}

//Form & Table

.field_with_errors input {
  border: 1px solid red;
}

.div-table {
  font-size: 12px;
  max-height: 450px;
  overflow: auto;
  background-color: #eeffff;
  border: 1px solid #ddeeee;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cursor-enable{
  cursor: pointer;
}

.cursor-enable:hover {
  color: grey;
  font-size: 14px;
}

.tablesorter-headerAsc {
  cursor: s-resize;
}

.tablesorter-headerDesc {
  cursor: n-resize;
}

//Subav

#subnav_flash {  
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 250px;
}