<!-- starts footer -->
<div id="footer">
  <div class="container">
    <div class="row copyright">
      <div class="span5">
        <h3>Find us</h3>
        <a href="#" class="social fb">
          <i class="i_facebook"></i>
        </a>
        <a href="#" class="social tw">
          <i class="i_twitter"></i>
        </a>
        <a href="#" class="social yt">
          <i class="i_youtube"></i>
        </a>
      </div>
      <div class="span3 offset4 copy">
        <p>2012-2013 ContactsUp.com</p>
      </div>
    </div>
  </div>
</div>