<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div id="subnav_flash" class="flash-message alert alert-<%= key %>">
      <button id="flash_close" class="close" type="button">
        <small>&times;</small>
      </button>
      <%= value %>
    </div>
  <% end %>
<% end %>